<div class="top_row navbar w-100 px-3 py-2 d-flex justify-content-between align-items-center">
    <div class="title">
        <a class="nav-link title-link" href="">Arayom.</a>
    </div> 

    <button
      class="navbar-toggler text-black border-1"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu"
      aria-controls="navbarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <div class="collapse navbar-collapse justify-content-end mt-2 mt-lg-0" id="navbarMenu">
        <div class="menu d-flex flex-column flex-md-row gap-2 gap-lg-4 align-items-md-center">
            <div><a class="nav-link px-2" href="/">Home</a></div>
            <div><a class="nav-link px-2" href="/About">About</a></div>
            <div><a class="nav-link px-2" href="/Projects">Projects</a></div>
            <div><a class="nav-link px-2" href="/Contact">Contact</a></div>
            <div><a class="nav-link px-2" href="/Showcase">Showcase</a></div>
        </div>
    </div>
</div>
