@page "/about"

<PageTitle>About | Arayom</PageTitle>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="centered-content" >
            <h2>About Me</h2>
            <hr>
            <p>
                I'm Arayom, a full-stack developer with a strong foundation in Java, HTML, CSS, 
                JavaScript and modern web technologies. I enjoy building responsive, user-friendly 
                applications and solving real-world problems with clean, efficient code.
            </p>
            <p>
                I began my journey in software development through my university program, 
                where I developed a deep interest in building tools that make life easier for 
                people. Over time, I’ve gained experience in both front-end and back-end 
                development, working with frameworks like React, Blazor and libraries like Bootstrap 
                and JavaScript.
            </p>
            <p>
                Beyond the code, I value learning, collaboration, and good design. 
                I believe that great software is not just functional, it's thoughtful and intuitive.

                When I’m not coding, I enjoy traveling, exploring nature, playing and watching soccer 
                and basketball.
            </p>
        </div>
    
        <div class="centered-content" >
            <h2>Education</h2>
            <hr>
            <p>
                Aspen University, Denver, CO <br>
                Master of Science in Computer Information Systems <br>
                Specialization: Enterprise Application Development – June 2021
            </p>
            <hr>
            <p>
                Minnesota State University Moorhead, Moorhead, MN <br>
                Bachelor of Science in Computer Information Technology – May 2015
            </p>
            
        </div>
        <div class="centered-content" >
            <h2>Technical Skills</h2>
            <hr>
            <p>
                Languages: Java, J2EE, C++ <br>
                Web Technologies: HTML5, CSS3, JavaScript, jQuery<br>
                Self-Learned: Blazor, ReactJS, Node.JS
            </p>
        </div>
    </div>
</div>