@page "/"

<PageTitle>Home | Arayom</PageTitle>

<div class="background-image">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="centered-content" >
            <h1>Hi, I'm Arayom.</h1>
            <br>
            <h4>A passionate software developer!</h4><br>
            <p>
                Welcome to my personal portfolio website. I'm a software developer with 
               a focus on building interactive and scalable web applications using the latest technologies.
               I am Passionate about UI, performance, and problem-solving.
            </p>
            <p>
                Whether it's a personal project or a professional collaboration, 
                I’m always eager to create solutions that make a difference.
            </p>
            <p>
                Feel free to explore my projects, learn more about my skills, or 
                get in touch — I'm always open to new opportunities and challenges.
            </p>
        </div>
    </div>
</div>