@page "/projects"

<PageTitle>Projects | Arayom</PageTitle>

<div class="container">
    <h2>My Projects</h2><br><br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="centered-content">
            <div class="project-title"><h3>A login System</h3></div>
            <img src="images/login.png" class="card-img-top"/>
            <p><br>The main purpose of this program is to let users create an account and
                    Sign in back to their account to see their account information. 
            </p>
            <p><a href="https://github.com/arayom1/LoginSystem" target="_blank" 
            rel="noopener noreferrer" class="btn btn-primary">GitHub Link</a></p>
        </div>
        <div class="centered-content">
            <div class="project-title"><h3>Airline Reservations System</h3></div>
            <img src="images/airline.png" class="card-img-top"/>
            <p><br>The task of this program is to develop a system that assigns seats for 
                   an airline flight , which has a capacity of 10 seats. </p>
            <p><a href="https://github.com/arayom1/AirlineReservations" target="_blank" 
            rel="noopener noreferrer" class="btn btn-primary">GitHub Link</a></p>
        </div>
        <div class="centered-content">
            <div class="project-title"><h3>A Word Guess Game</h3></div>
            <img src="images/wordguess.png" class="card-img-top"/>
            <p><br>This application is a word-guess game where the player has 
            a total of 10 chances to guess a hidden word correctly. </p>
            <p><a href="https://github.com/arayom1/Word-Guess" target="_blank" 
            rel="noopener noreferrer" class="btn btn-primary">GitHub Link</a></p>
        </div>
    </div> 
</div>