.container{
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2rem; 
    box-sizing: border-box;
    background-color: rgba(151, 143, 143, 0.4);
    text-align: center;
}

.header{
    width: 100%;
}

section {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(177, 173, 149);
}

button:hover{
    color: #795308;
}

h1 {
    color: rgb(23, 210, 23);
    margin-bottom: 20px;
    
}

p {
    color: antiquewhite;
}

h3 {
    color: yellow;
}

@media (max-width: 600px) {
    h1 {
        font-size: 8vw;
    }

    section button {
        font-size: 4vw;
        padding: 1rem;
    }
}