.container {
    padding: 50px;
}

.card-img-top {
    height: 250px;           
    object-fit: cover;       
    width: 100%;             
    border-bottom: 1px solid #ddd;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

h1 {
    color: white;
}
